@using JPGPizza.Models
@model Product

@if (Model.Type == ProductType.Pizza || Model.Type == ProductType.Salad || Model.Type == ProductType.Sandwich)
{
    <div class="acp-product-price-container">
        <span class="product-price">@Model.Price лв.</span>
    </div>
    <div class="acp-product-img-container">
        <img class="img-responsive acp-product-img" src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
    <div class="acp-product-name">
        @Model.Name
    </div>
    <div class="acp-product-ingredients">
        @string.Join(", ", Model.Ingredients.Select(i => i.Name))
    </div>
    <div class="acp-product-actions">
        @if (User.IsInRole("Administrator"))
        {
            <div>
                <a data-product-id-value="@Model.Id" class="btn btn-default add-to-cart-btn">Избери</a>
            </div>
            <div>
                <a href="#" class="btn btn-default">Детайли</a>
                <a href="#" class="btn btn-default">Промени</a>
                <a href="#" class="btn btn-default">Изтрий</a>
            </div>
        }
        else
        {
            <a data-product-id-value="@Model.Id" class="btn btn-default add-to-cart-btn">Избери</a>
        }
    </div>
}
else if (Model.Type == ProductType.Drink)
{
    <div class="acp-product-price-container">
        <span class="product-price">@Model.Price лв.</span>
    </div>
    <div class="acp-product-img-container">
        <img class="img-responsive acp-product-img drink-img" src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
    <div class="acp-product-name">
        @Model.Name
    </div>
    <div class="acp-product-actions">
        @if (User.IsInRole("Administrator"))
        {
            <div>
                <a data-product-id-value="@Model.Id" class="btn btn-default add-to-cart-btn">Избери</a>
            </div>
            <div>
                <a href="#" class="btn btn-default">Детайли</a>
                <a href="#" class="btn btn-default">Промени</a>
                <a href="#" class="btn btn-default">Изтрий</a>
            </div>
        }
        else
        {
            <a data-product-id-value="@Model.Id" class="btn btn-default add-to-cart-btn">Избери</a>
        }
    </div>
    
}

