@using JPGPizza.MVC.ViewModels.Products
@using JPGPizza.Models
@model DeleteProductViewModel


@{ Html.RenderPartial("_AdministratorsSidebar"); }


@*<div class="row" >
    <div class="col-sm-3 col-sm-push-2 box-shadow-container text-center" style="font-size: 15px; font-weight: 700; text-transform: uppercase;color: #d80a2b">
        Потвърдете изтриването
    </div>
</div>*@
<div class="row" style="padding-top: 50px;">

	@using (Html.BeginForm("DeleteConfirmed", "Products", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<input name="Id" value="@Model.Id" hidden />

		if (Model.Type == ProductType.Drink) // Display drink
		{
			<div class="col-sm-3 col-sm-push-2" id="drink-preview-container">
				<div class="row">
                    <div class="col-sm-3 col-sm-push-2 text-center" style="font-size: 15px; font-weight: 700; text-transform: uppercase;color: #d80a2b">
                        Потвърдете изтриването
                    </div>
					<div class="col-sm-12 acp-product-container">
						<div class="acp-product-price-container">
							<span class="product-price">@Model.Price лв.</span>
						</div>
						<div class="acp-product-img-container dvPreview">
							<img class="img-responsive acp-product-img" src="@Model.ImageUrl" alt="Снимка на продукта" />
						</div>
						<div class="acp-product-name">
							@Model.Name
						</div>
						<div class="acp-product-actions">
							<a href="/administrators/products" class="btn btn-default btn-secondary">Отказ</a>
							<button type="submit" class="btn btn-default pull-right">Потвърди</button>
						</div>
					</div>
				</div>
			</div>
		}
		else // Display Pizza or Salad or Sandwich
		{
			<div class="col-sm-3 col-sm-push-2" id="pss-preview-container">
                <div class="row" style="background-color: #d80a2b;color: #fff;margin-bottom: 0; padding: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <div class="col-sm-12 text-center" style="font-size: 15px; font-weight: 700; text-transform: uppercase;">
                        Потвърдете изтриването
                    </div>
                </div>
				<div class="row">
					<div class="col-sm-12 acp-product-container" style="border-top-left-radius: 0; border-top-right-radius: 0;">
						<div class="acp-product-price-container">
							<span class="product-price">@Model.Price лв.</span>
						</div>
						<div class="acp-product-img-container dvPreview">
							<img class="img-responsive acp-product-img" src="@Model.ImageUrl" alt="Снимка на продукта" />
						</div>
						<div class="acp-product-name">
							@Model.Name
						</div>
						<div class="acp-product-ingredients">
							@string.Join(", ", Model.Ingredients.Select(i => i.Name))
						</div>
						<div class="acp-product-actions">
							<a href="/administrators/products" class="btn btn-default btn-secondary">Отказ</a>
							<button type="submit" class="btn btn-default pull-right">Потвърди</button>
						</div>
					</div>
				</div>
			</div>
		}

	}

</div>