@using JPGPizza.MVC.ViewModels.Homepage
@model IndexViewModel
@{
    ViewBag.Title = "Начало";
}

<div class="container home-page-container">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Добре дошли!
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="~/Content/Images/home-page-img.jpg" alt="JPG Pizza`s">
        </div>

        <div class="col-md-4">
            <h3>Заповядайте при нас</h3>
            <p>При нас ще откриете най-вкусните пици, салати и сандвичи. Ще може да се насладите напълно на прекрасния им вкус в приятна обстановка с чаша свежа и студена напитка.</p>
            <h3>Ние предалагаме</h3>
            <ul>
                <li><a href="/products/list?category=Pizza">Пица</a></li>
                <li><a href="/products/list?category=Sandwich">Сандвичи</a></li>
                <li><a href="/products/list?category=Salad">Салати</a></li>
                <li><a href="/products/list?category=Drink">Напитки</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Нашите доволни клиенти!</h3>
                      
               @foreach (var feedback in Model.Feedbacks)
               {
                   <p>@feedback.Customer.FirstName : @feedback.Content
                       <span class="date sub-text">@feedback.CreatedOn</span>           
            </p>
                     
               }


        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Най-новите ни вкусотии</h3>
        </div>
        @foreach (var item in Model.Products.Take(4))
        {
            <div class="col-sm-3 col-xs-6">
                <a href="/products/details/@item.Id">
                    <img class="img-responsive acp-product-img" src="@item.ImageUrl" alt="@item.Name">
                </a>
                <p>@item.Name</p>
                <hr />
                <p>Съставки:</p>
                <p>@string.Join(", ", item.Ingredients.Select(i => i.Name))</p>


            </div>
        }
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © JPG @DateTime.Now</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>