@model List<JPGPizza.Models.Product>

@{
    ViewBag.Title = "Products";
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.FirstOrDefault()?.Type</title>
</head>
<body>
    <div class="container">
        @foreach (var product in Model)
        {
            <div>
                <h1>
                    @product.Name
                </h1>
                <p>
                    Описание: 
                    @product.Description
                </p>
                <p>
                    Цена:
                    @product.Price
                </p>
                <p>
                    Съставки: @string.Join(", ", product.Ingredients.Select(i => i.Name))
                </p>
            </div>
        }
    </div>
</body>
</html>