@using JPGPizza.MVC.ViewModels.Administrators
@model AdministratorsIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid admin-panel-content-container">
    <div id="app">
        <div class="sidebar">
            @Html.Partial("_AdministratorsSidebar")
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-sm-5 col-sm-push-2">
                    <div class="info-list-heading">
                        Top Customers
                    </div>
                    <div class="info-list-body">
                        <ul class="info-list">
                            @foreach (var user in Model.TopUsers)
                            {
                                <li>
                                    <div>
                                        @user.Name
                                    </div>
                                    <div>
                                        Total orders @user.TotalOrders - Total cost @user.TotalCost лв.
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="info-list-footer">
                        
                    </div>
                </div>
                <div class="col-sm-5  col-sm-push-2">
                    <div class="info-list-container">
                        <div class="info-list-heading">
                            Newst Feedbacks
                        </div>
                        <div class="info-list-body">
                            <ul class="info-list">
                                @foreach (var feedback in Model.Feedbacks)
                                {
                                    <li>
                                        <div>
                                            @feedback.Customer.FirstName @feedback.Customer.LastName @feedback.CreatedOn
                                        </div>
                                        <div>
                                            @feedback.Content
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="info-list-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</div>

@section Scripts {
    @*<script src="~/Scripts/Administrators/sammy-0.7.6.min.js"></script>*@
}

@*
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Admin Control Panel</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-push-3">
                <div class="info-list-heading">
                    Top Customers
                </div>
                <div class="info-list-body">
                    <ul class="info-list">
                        @foreach (var user in Model.TopUsers)
                        {
                            <li>
                                <div>
                                    @user.Name
                                </div>
                                <div>
                                    Total orders @user.TotalOrders - Total cost @user.TotalCost лв.
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="info-list-footer">
                    <button>See more</button>
                </div>
            </div>
            <div class="col-sm-4 col-sm-push-3"">
                <div class="info-list-container">
                    <div class="info-list-heading">
                        Newst Feedbacks
                    </div>
                    <div class="info-list-body">
                        <ul class="info-list">
                            @foreach (var feedback in Model.Feedbacks)
                            {
                                <li>
                                    <div>
                                        @feedback.Customer.FirstName @feedback.Customer.LastName @feedback.CreatedOn
                                    </div>
                                    <div>
                                        @feedback.Content
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="info-list-footer">
                        <button>See more</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-pull-9">
                <ul>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
    </div>

*@