@using JPGPizza.MVC.ViewModels.Administrators
@model AdministratorsIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid admin-panel-content-container">
    <div id="app">
        <div class="sidebar">
            @Html.Partial("_AdministratorsSidebar")
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-sm-5 col-sm-push-2">
                    <div class="info-list-heading">
                        Top Customers
                    </div>
                    <div class="info-list-body">
                        <ul class="info-list">
                            @foreach (var user in Model.TopUsers)
                            {
                                <li>
                                    <div>
                                        @user.UserName
                                    </div>
                                    <div>
                                        Total orders @user.TotalOrders - Total cost @user.TotalCost лв.
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="info-list-footer">
                        
                    </div>
                </div>
                <div class="col-sm-5  col-sm-push-2">
                    <div class="info-list-container">
                        <div class="info-list-heading">
                            Newst Feedbacks
                        </div>
                        <div class="info-list-body">
                            <ul class="info-list">
                                @foreach (var feedback in Model.Feedbacks)
                                {
                                    <li>
                                        <div>
                                            <span style="font-weight: 900;">@feedback.Customer.UserName</span>
                                            <span class="pull-right">@feedback.CreatedOn</span>
                                        </div>
                                        <div>
                                            @feedback.Content
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="info-list-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-push-2">
                    <div class="info-list-heading">
                        Top Selling Products
                    </div>
                    <div class="info-list-body">
                        <ul class="info-list">
                            @foreach (var product in Model.TopSellingProducts)
                            {
                                <li>
                                    <div>
                                        @product.Name
                                    </div>
                                    <div>
                                        Total orders: @product.NumberOfOrders
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="info-list-footer">

                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</div>

