@using JPGPizza.MVC.ViewModels.Administrators
@model AdministratorsIndexViewModel

@{
    ViewBag.Title = "Index";
}

@{ string[] rowBackground = new string[] { "", "even-row" };}

<div class="container-fluid admin-panel-content-container" style="padding-top: 20px;">
    <div id="app">
        <div class="sidebar hidden-xs">
            @Html.Partial("_AdministratorsSidebar")
        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-sm-3 col-sm-push-2 total-info-container">
                    <span class="glyphicon glyphicon-user info-span"></span> Общо клиенти
                    <span class="info-span pull-right">@Model.TotalCustomers</span>
                </div>
                <div class="col-sm-3 col-sm-push-2 total-info-container">
                    <span class="glyphicon glyphicon-shopping-cart info-span"></span> Общо поръчки
                    <span class="info-span pull-right">@Model.TotalOrders</span>
                </div>
                <div class="col-sm-3 col-sm-push-2 total-info-container">
                    <span class="glyphicon glyphicon-comment info-span"></span> Мнения
                    <span class="info-span pull-right">@Model.TotalFeedbacks</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-push-2 box-shadow-container">
                    <div class="info-list-heading">
                        Топ клиенти
                    </div>
                    <div class="info-list-body">
                        <table class="info-table table">
                            <thead>
                                <tr class="row">
                                    <th class="col-sm-6">Потребителско име</th>
                                    <th class="text-center col-sm-2">Брой поръчки</th>
                                    <th class="text-right col-sm-4">Стойност</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int row = 0;}
                                @foreach (var user in Model.TopUsers)
                                {
                                    <tr class="@rowBackground[row % rowBackground.Length] row">
                                        <td  class="col-sm-6">
                                            <a href="#">@user.UserName</a>
                                        </td>
                                        <td class="col-sm-2 text-center">
                                            @user.TotalOrders
                                        </td>
                                        <td class="col-sm-4 text-right">
                                            @user.TotalCost лв.
                                        </td>
                                    </tr>
                                    row++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="info-list-footer">
                        
                    </div>
                </div>
                <div class="col-sm-5  col-sm-push-2 box-shadow-container">
                    <div class="info-list-container">
                        <div class="info-list-heading">
                            Последни мнения
                        </div>
                        <div class="info-list-body">
                            <ul class="info-list">
                                @{ row = 0; }
                                @foreach (var feedback in Model.Feedbacks)
                                {
                                    <li class="@rowBackground[row % rowBackground.Length]">
                                        <a href="#">
                                            <div style="font-size: 15px;font-weight: bold;">
                                                @feedback.ProductName
                                            </div>
                                            <div>
                                                @feedback.Content
                                            </div>
                                        </a>
                                        <div style="padding-left: 10px;">
                                            <span class="glyphicon glyphicon-time" style="padding-top: 5px; padding-right: 5px;"></span>преди 
                                            <span>
                                                @if (feedback.TimeSpan.TotalSeconds < 0)
                                                {
                                                    int totalSeconds = (int)feedback.TimeSpan.TotalSeconds;
                                                    @totalSeconds<span style="padding-left: 5px;">секунди</span>
                                                }
                                                else if (feedback.TimeSpan.TotalMinutes < 60)
                                                {
                                                    int totalMinutes = (int)feedback.TimeSpan.TotalMinutes;
                                                    @totalMinutes <span style="padding-left: 5px;">минути</span>
                                                }
                                                else if (feedback.TimeSpan.TotalHours < 24)
                                                {
                                                    int totalHours = (int)feedback.TimeSpan.TotalHours;
                                                    @totalHours <span style="padding-left: 5px;">часа</span>
                                                }
                                                else
                                                {
                                                    int totalDays = (int)feedback.TimeSpan.TotalDays;
                                                    @totalDays <span style="padding-left: 5px;">дни</span>
                                                }
                                            </span> от 
                                            <span style="font-weight: 900;">
                                                <a href="#">
                                                    @feedback.UserName
                                                </a>
                                            </span>
                                        </div>
                                    </li>
                                    row++;
                                }
                            </ul>
                        </div>
                        <div class="info-list-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-push-2 box-shadow-container">
                    <div class="info-list-heading">
                        Най-продавани продукти
                    </div>
                    <div class="info-list-body">
                        <table class="info-table table">
                            <thead>
                                <tr class="row">
                                    <th class="col-sm-5">Име на продукт</th>
                                    <th class="text-center col-sm-2">Брой поръчки</th>
                                    <th class="text-right col-sm-4">Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{row = 0;}
                                @foreach (var product in Model?.TopSellingProducts)
                                {
                                    <tr class="@rowBackground[row % rowBackground.Length] row">
                                        <td class="col-sm-6">
                                            <span>@product.Name</span>
                                        </td>
                                        <td class="text-center col-sm-2">
                                            @product.TotalOrders
                                        </td>
                                        <td class="text-right col-sm-4">
                                            @product.Price.ToString("F2") лв.
                                        </td>
                                    </tr>
                                    row++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="info-list-footer">

                    </div>
                </div>

                <div class="col-sm-5 col-sm-push-2 box-shadow-container">
                    <div class="info-list-heading">
                        Най-използвани съставки
                    </div>
                    <div class="info-list-body">
                        <table class="info-table table">
                            <thead>
                                <tr class="row">
                                    <th class="col-sm-9">Име на съставка</th>
                                    <th class="col-sm-3 text-center">Брой продукти</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{row = 0;}
                                @foreach (var ingredient in Model.MostUsedIngredients)
                                {
                                    <tr class="@rowBackground[row % rowBackground.Length] row">
                                        <td class="col-sm-10">
                                            <span>@ingredient.Name</span>
                                        </td>
                                        <td class="col-sm-2 text-center">
                                            @ingredient.NumberOfProducts
                                        </td>
                                    </tr>
                                    row++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="info-list-footer">

                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</div>

