@using Microsoft.AspNet.Identity
@model JPGPizza.MVC.ViewModels.ApplicationUser.ApplicationUserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

@{ Html.RenderPartial("_AdministratorsSidebar"); }

<div class="row" style="margin-top: 50px;">
    <div class="col-sm-10 col-sm-push-2 box-shadow-container">
        <div class="row">
            <div class="col-sm-12" style="font-weight: 700; font-size: 25px;">
                Обща информация
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="#" class="btn btn-default btn-secondary" style="font-size: 13px;">Моите поръчки</a>
            </div>
            @if (User.IsInRole("Administrator") || User.Identity?.GetUserId() == Model.User.Id)
            {
                <div class="col-sm-3">
                    <a href="/applicationusers/edit/@Model.User.Id" class="btn btn-default btn-secondary"  style="font-size: 13px;">
                        Редактиране на информацията
                    </a>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Потребителско име:
                </div>
                <div class="details-info">
                    @Model.User.UserName
                </div>
            </div>
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Имайл:
                </div>
                <div class="details-info">
                    @Model.User.Email
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Име:
                </div>
                <div class="details-info">
                    @Model.User.FirstName
                </div>
            </div>
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Фамилия:
                </div>
                <div class="details-info">
                    @Model.User.LastName
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Години:
                </div>
                <div class="details-info">
                    @Model.User.Age
                </div>
            </div>
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Пол:
                </div>
                <div class="details-info">
                    @Model.User.Gender
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Общо поръчки:
                </div>
                <div class="details-info">
                    @Model.TotalOrders
                </div>
            </div>
            <div class="col-sm-6">
                <div class="details-info-heading">
                    Стойност на всички поръчки:
                </div>
                <div class="details-info">
                    @Model.OrdersTotalCost лв.
                </div>
            </div>
        </div>
    </div>
</div>
